@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.main__title {
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: #2c2d35;
}
@media only screen and (min-width: 510px) {
  .main__title {
    font-size: 36px;
  }
}
@media only screen and (min-width: 690px) {
  .main__title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1110px) {
  .main__title {
    font-size: 60px;
  }
}

.main__text {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #86928b;
}
@media only screen and (min-width: 510px) {
  .main__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 690px) {
  .main__text {
    font-size: 18px;
  }
}

.second-title {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #2c2d35;
}
@media only screen and (min-width: 690px) {
  .second-title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1110px) {
  .second-title {
    font-size: 40px;
  }
}

.pictures .card__author {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #86928b;
}
@media only screen and (min-width: 690px) {
  .pictures .card__author {
    font-size: 18px;
  }
}

.pictures .card__title {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #2c2d35;
}
@media only screen and (min-width: 690px) {
  .pictures .card__title {
    font-size: 30px;
  }
}

.pictures .card__description {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #2c2d35;
}
@media only screen and (min-width: 690px) {
  .pictures .card__description {
    font-size: 18px;
  }
}

.pictures .card__price {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #598d66;
}
@media only screen and (min-width: 690px) {
  .pictures .card__price {
    font-size: 24px;
  }
}

.button-green {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #598d66;
}
@media only screen and (min-width: 690px) {
  .button-green {
    font-size: 20px;
  }
}

.button-yellow {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #eedb6d;
}
@media only screen and (min-width: 690px) {
  .button-yellow {
    font-size: 20px;
  }
}

.button-slider {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #2c2d35;
}
@media only screen and (min-width: 690px) {
  .button-slider {
    font-size: 20px;
  }
}

.header .nav__link {
  font-weight: 500;
  font-style: normal;
  color: #2c2d35;
  font-size: 18px;
}
.header .nav__link:hover {
  color: #598d66;
}
.header .nav__link:active {
  color: #376b44;
}
@media only screen and (min-width: 1110px) {
  .header .nav__link {
    font-size: 20px;
  }
}

.container {
  width: 290px;
  margin: 0 auto;
}
@media only screen and (min-width: 510px) {
  .container {
    width: 510px;
  }
}
@media only screen and (min-width: 690px) {
  .container {
    width: 690px;
  }
}
@media only screen and (min-width: 1110px) {
  .container {
    width: 1110px;
  }
}

.button-slider, .button-yellow, .button-green, .header .menu__close-button, .header__shop-button, .header__burger-button, .header .nav__link {
  transition: 0.3s;
}
.button-slider:hover, .button-yellow:hover, .button-green:hover, .header .menu__close-button:hover, .header__shop-button:hover, .header__burger-button:hover, .header .nav__link:hover {
  transition: 0.3s;
}
.button-slider:active, .button-yellow:active, .button-green:active, .header .menu__close-button:active, .header__shop-button:active, .header__burger-button:active, .header .nav__link:active {
  transition: 0.05s;
}

.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
@media only screen and (min-width: 1110px) {
  .slider {
    overflow-x: hidden;
  }
}

.slider__slides {
  transition: transform 0.5s ease-in-out;
}

.slider__slide {
  scroll-snap-align: start;
  position: relative;
}

.header .menu__close-button, .header__shop-button, .header__burger-button {
  color: #2c2d35;
}
.header .menu__close-button:hover, .header__shop-button:hover, .header__burger-button:hover {
  color: #598d66;
}
.header .menu__close-button:active, .header__shop-button:active, .header__burger-button:active {
  color: #376b44;
}

body {
  font-family: "Raleway";
}

.button-green {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #598d66;
}
.button-green:hover {
  background-color: #598d66;
  color: #f4f6f5;
}
.button-green:active {
  background-color: #376b44;
  color: #f4f6f5;
  border-color: #376b44;
}
.button-yellow {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #eedb6d;
}
.button-yellow:hover {
  background-color: #eedb6d;
  color: #f4f6f5;
}
.button-yellow:active {
  background-color: #d9b949;
  color: #f4f6f5;
  border-color: #d9b949;
}
.button-slider {
  background-color: #d4e8d9;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button-slider:hover {
  background-color: #598d66;
  color: #f4f6f5;
}
.button-slider:active {
  background-color: #376b44;
}

.slider-button-active {
  background-color: #376b44;
  color: #f4f6f5;
}

.header {
  background-color: #e1ede6;
}
.header__container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "logo logo" "burger shop";
  justify-items: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 510px) {
  .header__container {
    grid-template-areas: "logo logo" "menu shop";
  }
}
@media only screen and (min-width: 690px) {
  .header__container {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "logo menu shop";
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media only screen and (min-width: 1110px) {
  .header__container {
    grid-template-areas: "logo menu shop";
  }
}
.header__logo {
  grid-area: logo;
  padding-bottom: 16px;
  padding-left: calc(50% - 71.5px);
  padding-right: calc(50% - 71.5px);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c3d1c6;
}
@media only screen and (min-width: 690px) {
  .header__logo {
    padding: 0;
    border: none;
    justify-self: start;
    align-self: center;
  }
}
.header__burger {
  grid-area: burger;
  justify-self: start;
  align-self: center;
  padding-top: 16px;
}
@media only screen and (min-width: 510px) {
  .header__burger {
    display: none;
  }
}
.header__burger-icon {
  width: 22px;
  height: 22px;
}
.header__shop {
  grid-area: shop;
  justify-self: end;
  align-self: center;
  padding-top: 16px;
}
.header__shop-icon {
  width: 22px;
  height: 22px;
}
@media only screen and (min-width: 690px) {
  .header__shop {
    padding-top: 0;
    margin-top: left;
  }
}
.header .menu {
  display: none;
  position: absolute;
  background-color: #e1ede6;
  top: 84px;
  width: 100%;
  height: 100%;
}
.header .menu__close-icon {
  width: 20px;
  height: 20px;
}
.header .nav:nth-child(2) {
  margin-top: 30px;
}
.header .nav:nth-child(2) .nav__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header .nav:nth-child(3) {
  display: none;
}
@media only screen and (min-width: 510px) {
  .header .nav:nth-child(3) {
    display: block;
    grid-area: menu;
    justify-self: start;
    align-self: center;
    padding-top: 16px;
  }
}
@media only screen and (min-width: 690px) {
  .header .nav:nth-child(3) {
    padding-top: 0;
    margin-top: left;
  }
}
@media only screen and (min-width: 1110px) {
  .header .nav:nth-child(3) {
    margin-left: 495px;
  }
}
@media only screen and (min-width: 510px) {
  .header .nav:nth-child(3) .nav__list {
    display: flex;
    gap: 60px;
  }
}

.main__container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(1, auto);
  grid-template-areas: "content content";
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
@media only screen and (min-width: 510px) {
  .main__container {
    grid-template-areas: "image content";
    margin-top: 50px;
  }
}
@media only screen and (min-width: 690px) {
  .main__container {
    margin: 0px;
  }
}
.main__content {
  grid-area: content;
  justify-self: end;
  align-self: center;
}
@media only screen and (min-width: 510px) {
  .main__content {
    width: 285px;
    height: 239px;
  }
}
@media only screen and (min-width: 690px) {
  .main__content {
    width: 330px;
    height: 308px;
  }
}
@media only screen and (min-width: 1110px) {
  .main__content {
    width: 540px;
    height: 331px;
  }
}
.main__img {
  grid-area: image;
  display: none;
}
@media only screen and (min-width: 510px) {
  .main__img {
    display: block;
    width: 195px;
    height: 239px;
  }
}
@media only screen and (min-width: 690px) {
  .main__img {
    width: 330px;
    height: 380px;
  }
}
@media only screen and (min-width: 1110px) {
  .main__img {
    width: 540px;
    height: 621px;
  }
}
.main__title-green {
  color: #598d66;
}
.main__text {
  margin-top: 20px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 510px) {
  .main__text {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 690px) {
  .main__text {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1110px) {
  .main__text {
    margin-bottom: 60px;
  }
}
.main__button {
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
}
@media only screen and (min-width: 510px) {
  .main__button {
    padding-left: 41px;
    padding-right: 41px;
  }
}
@media only screen and (min-width: 690px) {
  .main__button {
    padding-left: 51.5px;
    padding-right: 51.5px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
  }
}
@media only screen and (min-width: 1110px) {
  .main__button {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.pictures {
  margin-top: 60px;
}
@media only screen and (min-width: 510px) {
  .pictures {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 690px) {
  .pictures {
    margin-top: 70px;
  }
}
.pictures__container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "title title" "slider slider" "cards cards";
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 690px) {
  .pictures__container {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "title slider" "cards cards";
    row-gap: 30px;
  }
}
.pictures__title {
  grid-area: title;
}
.pictures__cards {
  grid-area: cards;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  row-gap: 30px;
}
@media only screen and (min-width: 510px) {
  .pictures__cards {
    grid-template-columns: repeat(2, auto);
    column-gap: 30px;
  }
}
@media only screen and (min-width: 1110px) {
  .pictures__cards {
    grid-template-columns: repeat(3, auto);
  }
}
.pictures .card {
  background-color: #e1ede6;
  width: 290px;
  height: fit-content;
}
@media only screen and (min-width: 510px) {
  .pictures .card {
    width: 240px;
  }
}
@media only screen and (min-width: 690px) {
  .pictures .card {
    width: 330px;
  }
}
@media only screen and (min-width: 1110px) {
  .pictures .card {
    width: 350px;
  }
}
.pictures .card__container {
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.pictures .card__author {
  margin-top: 15px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 690px) {
  .pictures .card__author {
    margin-top: 20px;
  }
}
.pictures .card__description {
  margin-top: 10px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 510px) {
  .pictures .card__description {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 690px) {
  .pictures .card__description {
    margin-top: 8px;
    margin-bottom: 30px;
  }
}
.pictures .card__price {
  margin-bottom: 10px;
}
@media only screen and (min-width: 690px) {
  .pictures .card__price {
    margin-bottom: 20px;
  }
}
.pictures .card__button {
  white-space: nowrap;
  padding-left: 81.5px;
  padding-right: 81.5px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
}
@media only screen and (min-width: 510px) {
  .pictures .card__button {
    padding-left: 56.5px;
    padding-right: 56.5px;
  }
}
@media only screen and (min-width: 690px) {
  .pictures .card__button {
    padding-left: 96.5px;
    padding-right: 96.5px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media only screen and (min-width: 1110px) {
  .pictures .card__button {
    padding-left: 106.5px;
    padding-right: 106.5px;
  }
}
.pictures .card__image {
  object-fit: cover;
  object-position: center;
  width: 250px;
  height: 250px;
}
@media only screen and (min-width: 510px) {
  .pictures .card__image {
    width: 200px;
  }
}
@media only screen and (min-width: 690px) {
  .pictures .card__image {
    width: 290px;
    height: 422px;
  }
}
@media only screen and (min-width: 1110px) {
  .pictures .card__image {
    width: 310px;
  }
}
.pictures .slider {
  grid-area: slider;
}
@media only screen and (min-width: 510px) {
  .pictures .slider {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 690px) {
  .pictures .slider {
    justify-self: end;
    align-self: center;
  }
}
.pictures .slider__slides {
  display: flex;
  gap: 20px;
}
@media only screen and (min-width: 510px) {
  .pictures .slider__slides {
    display: flex;
    gap: 32px;
  }
}